<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auto Reddit</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="4INNiT9roBwUAFvWC-E2oTcTZcU3nTJeymGL-PtSKbc" />
  <link rel="stylesheet" href="vendors/owl-carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/css/owl.theme.default.css">
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/aos/css/aos.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img src="images/img.png" alt="">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="images/img.png" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold">Register on<br>AutoReddit.</h1>
      <h6 class="font-weight-normal text-muted pb-3">AutoReddit helps you submit posts on multiple subreddits under a minute.</h6>      
      <div>
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="username" class="sr-only">Name</label>
                <input id="name" name="name" type="text" placeholder="Enter your name" class="form-control">
            </div>

            <div class="form-group">
                <label for="username" class="sr-only">Email</label>
                <input id="email" name="email" type="text" placeholder="Enter your email" class="form-control">
            </div>

            <div class="form-group">
                <label for="userPassword" class="sr-only">Password</label>
                <input id="password" name="password" type="password" placeholder="Enter password" class="form-control">
            </div>
            <%if(data != ""){ %>
              <p class="text-danger"><%= data %></p>
            <%}%>
            <button type="submit" class="btn btn-warning mb-3">Register</button>
        </form>
      </div>
    </div>
  
   
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2021<a href="#" class="px-1">AutoReddit.</a>All rights reserved.</p>
      </footer>
    </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  
  <script src="vendors/jquery/jquery.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.min.js"></script>
  <script src="vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="vendors/aos/js/aos.js"></script>
  <script src="js/landingpage.js"></script>
</body>
</html>